<?xml version="1.0" encoding="UTF-8"?>
<Configuration Key="cafeCC">
  <Node Key="Frontend" Unset="false">
    <Node Key="C" Unset="false">
      <Binding Key="Native_Compiler" Unset="false" Value="/home/jenkins/AUTOSAR/sdks/A00048/sysroots/x86_64-pokysdk-linux/usr/bin/i686-poky-linux/i686-poky-linux-gcc"/>
      <Node Key="Compiler" Unset="false">
        <Node Key="Options" Unset="false">
          <Binding Key="1" Unset="false" Value="--gcc"/>
          <Binding Key="2" Unset="false" Value="--gnu_version=90200"/>
          <Binding Key="3" Unset="false" Value="--type_system=gcc"/>
        <Binding Key="4" Unset="false" Value="--c11"/>
        </Node>
      </Node>
    </Node>
  <Node Key="C++" Unset="false">
      <Binding Key="Native_Compiler" Unset="false" Value="/home/jenkins/AUTOSAR/sdks/A00048/sysroots/x86_64-pokysdk-linux/usr/bin/i686-poky-linux/i686-poky-linux-g++"/>
      <Node Key="Compiler" Unset="false">
        <Node Key="Options" Unset="false">
          <Binding Key="1" Unset="false" Value="--g++"/>
          <Binding Key="2" Unset="false" Value="--gnu_version=90200"/>
          <Binding Key="3" Unset="false" Value="--type_system=gcc"/>
        <Binding Key="4" Unset="false" Value="--c++14"/>
        </Node>
      </Node>
    </Node>
  <Binding Key="Object_File_Extension" Unset="false" Value="o"/>
  </Node>
  <Node Key="Environment" Unset="false">
    <Binding Key="C_INCLUDE_PATH" Unset="false" Value="/home/jenkins/AUTOSAR/sdks/A00048/sysroots/x86_64-pokysdk-linux/usr/lib/i686-poky-linux/gcc/i686-poky-linux/9.2.0/include:/home/jenkins/AUTOSAR/sdks/A00048/sysroots/x86_64-pokysdk-linux/usr/lib/i686-poky-linux/gcc/i686-poky-linux/9.2.0/include-fixed:/home/jenkins/AUTOSAR/sdks/A00048/sysroots/core2-32-poky-linux/usr/include/"/>
    <Binding Key="CPLUS_INCLUDE_PATH" Unset="false" Value="/home/jenkins/AUTOSAR/sdks/A00048/sysroots/core2-32-poky-linux/usr/include/c++/9.2.0:/home/jenkins/AUTOSAR/sdks/A00048/sysroots/core2-32-poky-linux/usr/include/c++/9.2.0/i686-poky-linux:/home/jenkins/AUTOSAR/sdks/A00048/sysroots/core2-32-poky-linux/usr/include/c++/9.2.0/backward:/home/jenkins/AUTOSAR/sdks/A00048/sysroots/x86_64-pokysdk-linux/usr/lib/i686-poky-linux/gcc/i686-poky-linux/9.2.0/include:/home/jenkins/AUTOSAR/sdks/A00048/sysroots/x86_64-pokysdk-linux/usr/lib/i686-poky-linux/gcc/i686-poky-linux/9.2.0/include-fixed:/home/jenkins/AUTOSAR/sdks/A00048/sysroots/core2-32-poky-linux/usr/include:/home/jenkins/AUTOSAR/sdks/A00048/sysroots/core2-32-poky-linux/usr/include/c++/9.2.0/i686-poky-linux:/home/jenkins/AUTOSAR/sdks/A00048/sysroots/core2-32-poky-linux/usr/include/c++/9.2.0/tr1"/>
  <Binding Key="LIBRARY_PATH" Unset="false" Value="/home/jenkins/AUTOSAR/sdks/A00048/sysroots/x86_64-pokysdk-linux/usr/lib/i686-poky-linux/gcc/i686-poky-linux/9.2.0/:/home/jenkins/AUTOSAR/sdks/A00048/sysroots/core2-32-poky-linux/lib/../lib/:/home/jenkins/AUTOSAR/sdks/A00048/sysroots/core2-32-poky-linux/usr/lib/../lib/i686-poky-linux/9.2.0/:/home/jenkins/AUTOSAR/sdks/A00048/sysroots/core2-32-poky-linux/usr/lib/i686-poky-linux/9.2.0/:/home/jenkins/AUTOSAR/sdks/A00048/sysroots/core2-32-poky-linux/usr/lib/../lib/:/home/jenkins/AUTOSAR/sdks/A00048/sysroots/core2-32-poky-linux/lib/:/home/jenkins/AUTOSAR/sdks/A00048/sysroots/core2-32-poky-linux/usr/lib/"/>
  </Node>
<Node Key="Switches" Unset="false">
    <Binding Key="-m16" Unset="false" Value="IgnoreSwitch"/>
    <Binding Key="-m32" Unset="false" Value="IgnoreSwitch"/>
    <Binding Key="-m64" Unset="false" Value="IgnoreSwitch"/>
  </Node>
</Configuration>
