# JAVA GITIGNORE
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar

# ignore lib jars.
!**/lib/**/*.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

**/bin/*

**/xtend-gen/*

**/target/*

**/.settings/*

# bitbake links
**/oe-logs
**/oe-workdir
oe-logs
oe-workdir

# Python Artifacts
*.pyc
__pycache__/

# Visual Studio Code artifacts
.vscode
*.code-workspace

# Eclipse related artifacts
.settings/
.cproject
.pydevproject

# Qt Creator related artifacts
CMakeLists.txt.user

# Common compiler artifacts
*.so 
*.a
*.o
*.out
!lge-ap/**


# Common backup filename extensions
*~
*.bak
*.cbk

# Other binary files not typically committed to git
*.gz
*.tar
*.tgz
*.bz2

# CMake artifacts
CMakeCache.txt
CMakeFiles/
cmake-build-*/

__pycache__
.idea

# Ignore the virtualenv
.venv/**
*.pyc

# py.test
.pytest_cache/

# mypy type checking
.mypy_cache/

# setup.py
*.egg-info/

javadoc/
doxygen/
line_branch_cov/
function_cov/
**/build/
**/result.ir
